@import url("https://fonts.googleapis.com/css?family=Merienda|Neucha|Nunito+Sans");

body {
	font-family: "Nonito Sans", sans-serif;
	color: #222222;
}

header {
	background-color: #444;
	padding: 20px;
}

nav {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
}

a {
	background-color: #666;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px;
	border-right: 1px white solid;
}

footer {
	background-color: #444;
	border: 1px white solid;
	padding: 20px;
}

h1, h2, h3 {
	font-family: Merienda, cursive;
	color: #222;
}


#logo {
	background: url("../images/point_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 2500px;
	padding: 20px;
}

.clearfix {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

