@import url("https://fonts.googleapis.com/css?family=Merienda|Neucha|Nunito+Sans");

body {
	font-family: "Nonito Sans", sans-serif;
	color: #222222;
}

header {
	background-color: #fff;
	padding: 20px;
}

nav {
	background-color: #444;
	color: #fff;
}

a {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	width: 150px;
	padding: 10px;
	border-right: 1px white solid;
}

a:hover {
	background-color: #b20068;
	color: #fff;
}

h1, h2, h3{
	font-family: Merienda, cursive;

}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #b20068;
	bottom-border-color: #b20068;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	width: 50%;
	height: 6em;
	outline: 3px solid #b20068;
	text-align: center;
	line-height: 6em;
	color: #b20068;
	background: #fff

}

footer {
	color: #fff;
	background-color: #444;
	border: 1px white solid;
	padding: 20px;
}


#logo {
	background: url("../images/point_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 200px;
	padding: 20px;
}

#quote {
	font-color: #b20068;
	text-align: center;
	border-top: 3px #b20068 solid;
	border-bottom: 3px #b20068 solid;
	margin: 1px 0 0 0;
}

#wrapper {
	background-image: url("../images/notebook_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	opacity: 0.8;
	width: 100%;
	margin: 10px 0;
	padding: 20px;

}

#consulting {
	margin-left: 50px;
	display: block;
	float: left;
	width: 50%;
}

#services {
	margin-right: 50px;
	display: block;
	float: right;
	width: 50%;

}

#section_one {
	background-color: #fff;
	border: 3px #b20068 solid;
	padding: 20px;
}


#email {
	background-color: #fff;
	font-family: Merienda, sans-serif;
	color: #b20068;
	display: block;
	float: left;
	padding: 0 10px;
	margin-right: 100px;
}

#phone {
	background-color: #fff;
	font-family: Merienda, sans-serif;
	color: #b20068;
	display: block;
	float: left;
	padding: 0 10px;
	margin-right: 100px;
}

#book {
	background-color: #fff;
	font-family: Merienda, sans-serif;
	color: #b20068;
	display: block;
	float: left;
	padding: 0 10px;
	margin-right: 30px;
}

#contact1 {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	display: block;
	float: left;
	margin-right: 100px;
	padding: 10px;
}

#contact2 {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	display: block;
	float: left;
	margin-right: 100px;
	padding: 10px;
}

#contact3 {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	display: block;
	float: left;
	margin-right: 30px;
	padding: 10px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

