@import url("https://fonts.googleapis.com/css?family=Merienda|Neucha|Nunito+Sans");

body {
	font-family: "Nonito Sans", sans-serif;
	font-size: 16px;
	color: #222222;
}

header {
	
}

nav {
	background-color: #444;
	color: #fff;
	box-sizing: border-box;
}

nav a {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	padding: 1em;
	border-right: .1em white solid;
}

nav a:hover {
	background-color: #b20068;
	color: #fff;
}

h1, h2, h3{
	font-family: Merienda, cursive;

}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
	color: #b20068;
}

h3 {
	font-size: 1.4em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	width: 50%;
	height: 6.5em;
	background-color: #fff;
	outline: 3px #b20068 solid;
	text-align: center;
	line-height: 6em;
	color: #b20068;
}

li a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: .6em;
}

li a:hover {
	color: #444;
}

footer {
	color: #fff;
	background-color: #444;
	padding: .3em;
}

#wrapper {
	margin: 0 auto;
}

#navbutton {
	display: none;
}

#logo {
	background-image: url("../images/point_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin: 0 auto;
	padding: 1%;
}

#logo a {
	background-color: #b20068;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	width: 15%;
	padding: 1%;
}

#logo a:hover {
	background-color: #444;
	color: #fff;
}

#quote {
	display: block;
	font-color: #b20068;
	text-align: center;
	border-top: 3px #b20068 solid;
	margin: 0;
}

#slogan {
	font-family: "Nonito Sans", sans-serif;
	color: #444;
	font-size: 1.2em;
	border-bottom: .1em #b20068 solid;
	padding-bottom: .5em;
	margin: 0;
}


.twocolumns {
	display: inline-block;
	float: left;
	width:47%;
	margin: 1%;
}

.twocolumns a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-decoration: none;
	display: inline;
}

.twocolumns a:hover {
	color: #444;
}


#left {
	background-color: #fff;
	outline: 2px #b20068 solid;
	padding: 0 .5em .5em .5em;
}

#left img {
	width: 30%;
	float: left;
	margin: 1.2em 1em 0 .5em;
}

#leftmedia {
	display: none;
}


#servicebuttons {
	display: none;
}

#services {
	background-image: url("../images/notebook_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 1950;
	vertical-align: top;
	position: relative;
	display: block;
	margin: 0;
	padding: .5em;
	border-bottom: .2em #b20068 solid;
}

.columns {
	display: inline-block;
	float: left;
	width: 31.33%;
	margin: 1%;
}

.columns p {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 2%;
	
}

.columns a {
	background-color: #b20068;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	width: 38%;
	padding: 2%;
}

.columns a:hover {
	background-color: #444;
	color: #fff;
}

.contact {
	display: inline-block;
	float: left;
	width: 25.33%;
	margin: 3%;
}


.contact a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-decoration: none;
	display: inline;
}

.contact a:hover {
	color: #444;
}

.clearfix:after, .columns:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}


@media only screen and (max-width: 920px) {

	#navbutton {
	display: block;
	background-color: #b20068;
	color: #fff;
	box-sizing: border-box;
	}

	#navbutton a {
	background-color: #b20068;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	float: left;
	padding: 1em;
	border-right: .1em white solid;
	}

	#navbutton a:hover {
	background-color: #444;
	color: #fff;
	}

	#logo a {
		display: none;
	}
}

@media only screen and (max-width: 880px) {
	#slogan {
		display: none;
	}
}

@media only screen and (max-width: 860px) {

	#services img {
		display: none;
	}

	.twocolumns {
		float: none;
	}

	#leftmedia {
		display: block;
		background-color: #fff;
		outline: .2em #b20068 solid;
		margin-bottom: .5em;
		padding: 0 .5em .5em .5em;
	}

	#leftmedia img {
		max-width: 840px;
		margin: 0;
	}

	li, #right, #left {
		display: none;
	}

	#servicebuttons{ 
		display: block;
		float: none;
		
	 }

	#servicebuttons a {
		background-color: #b20068;
		font-family: "Nonito Sans", sans-serif;
		font-size: 1.2em;
		color: #fff;
		text-decoration: none;
		text-align: center;
		display: block;
		float: none;
		margin-bottom: 1em;
		padding: 2em;
	}

	#servicebuttons a:hover {
		background-color: #444;
		color: #fff;
	}
	
}

@media only screen and (max-width: 850px) {
.columns {
		float: none;
	}

	.columns a {
		width: 50%;
		padding: .5em 1em;
	}

	#consulting, #writing, #digital {
		display: block;
		background-color: #fff;
		width: auto;
		padding: 1em;
	}

}

@media only screen and (max-width: 780px) {

	.contact {
		float: none;
		display: block;
	}

	.contact h2, h3 {
		display: none;
	}

	#emailhead, #phonehead {
		display: block;
		text-align: center;
		padding: .5em;
	}
}


@media only screen and (max-width: 680px) {
	
	#logo a {
		display: block;
		float: none;
		width: 80%;
		margin: 0 auto;
		padding: 1em;
	}

	nav a {
		float: none;
	}

	#navbutton {
	display: none;
	}

}

@media only screen and (max-width: 680px) {
	#quote {
		display: none;
	}
}


