@import url("https://fonts.googleapis.com/css?family=Merienda|Neucha|Nunito+Sans");

body {
	font-family: "Nonito Sans", sans-serif;
	font-size: 16px;
	color: #222222;
}

header {
	
}

nav {
	background-color: #444;
	color: #fff;
}

nav a {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	width: 9em;
	padding: .6em;
	border-right: .1em white solid;
}

nav a:hover {
	background-color: #b20068;
	color: #fff;
}

h1, h2, h3{
	font-family: Merienda, cursive;

}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
	color: #b20068;
	bottom-border: .6em #b20068 solid;
}

h3 {
	font-size: 1.4em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	width: 50%;
	height: 6em;
	background-color: #fff;
	outline: 3px #b20068 solid;
	text-align: center;
	line-height: 6em;
	color: #b20068;
}

li a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: .6em;
}

li a:hover {
	color: #444;
}

footer {
	color: #fff;
	background-color: #444;
	width: 100%;
	padding: .3em;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
}

#logo {
	background-image: url("../images/point_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 6em;
	padding: 1.2em;
}

#logo a {
	background-color: #b20068;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	width: 9em;
	padding: .6em;
}

#logo a:hover {
	background-color: #444;
	color: #fff;
}

#quote {
	display: block;
	font-color: #b20068;
	text-align: center;
	border-top: 3px #b20068 solid;
	margin: 0;
}

#slogan {
	font-family: "Nonito Sans", sans-serif;
	color: #444;
	font-size: 1.2em;
	border-bottom: .1em #b20068 solid;
	margin-bottom: 1.2em;
	padding-bottom: .4em;
}


.twocolumns {
	display: block;
	float: left;
	width:80%;
	margin: 2em 2em auto;
}

.twocolumns a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-decoration: none;
	display: inline;
}

.twocolumns a:hover {
	color: #444;
}


#left {
	display: block;
	float: left;
	width: 45%;
	background-color: #fff;
	outline: .2em #b20068 solid;
	padding: 0 .5em .2em .5em;
}

#left img {
	width: 20%;
	float: left;
	margin-right: .3em;
}

#right {
	display: block;
	float: right;
	width: 45%;
}

#services {
	background-image: url("../images/notebook_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-image-opacity: 0.2;
	margin: 1.2em 0;
	padding: 1.2em;
	border-bottom: .2em #b20068 solid;
}

.columns {
	display: block;
	float: left;
	width: 100%;
}

.columns p {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 1.2em;
	
}

.columns a {
	background-color: #b20068;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	width: 9em;
	padding: .6em;
}

.columns a:hover {
	background-color: #444;
	color: #fff;
}

#consulting {
	display: inline-block;
	width: 28%;
	margin: .3em .6em;
	padding: 1.2em;
}

#writing {
	display: inline-block;
	width: 28%;
	margin: .3em .6em;
	padding: 1.2em;
}

#digital {
	display: inline-block;
	width: 28%;
	margin: .3em .6em;
	padding: 1.2em;
}



.contact {
	display: inline-block;
	float: left;
	width: 100%;
	margin: 4em auto;
}

#emailhead {
	display: inline-block;
	float: left;
	width: 40%;
	margin-left: 4em;

}

#phonehead {
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 4em;

}

.contact a {
	font-family: "Nonito Sans", sans-serif;
	color: #b20068;
	text-decoration: none;
	display: inline;
}

.contact a:hover {
	color: #444;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

