@import url("https://fonts.googleapis.com/css?family=Merienda|Neucha|Nunito+Sans");

body {
	font-family: "Nonito Sans", sans-serif;
	color: #222222;
}

header {
	background: url("../images/point_1.jpg")
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	height: 200px;
	padding: 20px;
}

nav {
	background-color: #444;
	color: #fff;
}

nav a {
	background-color: #444;
	font-family: Merienda, sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	float: left;
	width: 150px;
	padding: 10px;
	border-right: 1px white solid;
}

nav a:hover {
	background-color: #b20068;
	color: #fff;
}

h1, h2, h3{
	font-family: Merienda, cursive;

}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
	color: #b20068;
	bottom-border-color: #b20068;
}

footer {
	color: #fff;
	background-color: #444;
	border: 1px white solid;
	padding: 5px;
}

#services {
	background-image: url("../images/notebook_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 20px;
}

.columns {
	display: block;
	float: left;
	width: 100%;
}

#consulting {
	display: inline-block;
	background-color: rgba(178, 0, 104, 0.2);
	width: 30%;
	margin: 5px 10px;
	padding: 0 20px 20px 20px;
}

#writing {
	display: inline-block;
	background-color: rgba(178, 0, 104, 0.2);
	width: 30%;
	margin: 5px 10px;
	padding: 0 20px 20px 20px;
}

#digital {
	display: inline-block;
	background-color: rgba(178, 0, 104, 0.2);
	width: 25%;
	margin: 5px 10px;
	padding: 0 20px 20px 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

